.page {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 2em;
}

@media screen and (min-width: 650px) {
    .page {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 1024px) {
    .page {
        grid-template-columns: 1fr 1fr 1fr;
    }
}