.logoCircle {

    /* avatar */
    background-image: url('https://en.gravatar.com/userimage/128548950/67457155631d006e64b3d7c809164997.png?size=200');

    /* make a square container */
    width: 200px;
    height: 200px;

    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;

    /* Give margins */
    margin: 20px auto;

    animation: fadein 5s;
}

.layout {
    max-width: 100%;
    padding: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.layout h2 {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -o-animation: fadein 2s;
    -ms-animation : fadein 2s;
}

.buttons {

    width: 300px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -o-animation: fadein 2s;
    -ms-animation : fadein 2s;
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}