.projects {
    display: flex;
    justify-content: center;
}

.grid {
    display: flex;
    flex-direction: column;
}

@supports (display: grid) {
    @media screen and (min-width: 800px) {
        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
}

@supports (display: grid) {
    @media screen and (min-width: 1024px) {
        .grid {
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 20px;
        }
    }
}