.projects {
    display: flex;
    flex-direction: column;
}

.github {
    margin: 0 auto;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    animation: fadein 2s;
}

@supports (display: grid) {
    @media screen and (min-width: 800px) {
        .grid {
            display: grid;
            justify-items: center;
            grid-template-columns: 1fr 1fr;
        }
    }
}

@supports (display: grid) {
    @media screen and (min-width: 1024px) {
        .grid {
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 20px;
        }
    }
}


@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}