.container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 0;
    color: #465E84;
}

.break {
    width: 50px;
    height: 3px;
    margin: 20px auto;
    background: #e2db21;
}

.tools {
    color: #465E84;
    font-size: 16px;
    font-style: italic;
}

.location {
    list-style-type: none;
    text-align: start;
    padding-bottom: 0;
    left: 0;
    bottom: 0;
}

.button {
    padding-left: 2em;
    padding-right: 2em;
}

.icons {
    display: flex;
    justify-content: center;
}

.image {
    margin: 10px;
}

@supports (justify-content: space-evenly) {
    .icons {
        justify-content: space-evenly;
    }
}
