.page {
    display: flex;
    justify-content: center;
    width: 100%;
}

.info {
    display: flex;
    flex-direction: column;
}


@media screen and (min-width: 450px){
    .info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }
}