.page {
    display: flex;
    flex-direction: column;
    padding: 2em;
    animation: fadein 2s;
}

@supports (display: grid) {
    .page {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    @media screen and (min-width: 1024px) {
        .page {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}