.logoCircle {

    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;

    /* Give margins */
    margin: 20px auto;

    animation: fadein 5s;
    justify-content: center;
}