:root {
    --main-bg-color: #465E84;
    --secondary-bg-color: #ADD8E6;
}

.pages {
    max-width: 800px;
    margin: 0 auto 0;

}

.mainSite {
    height: 100%;
    background-repeat: round;
}

.no-svg .mainSite {

    background: -webkit-linear-gradient(
            to bottom right,
            var(--main-bg-color),
            var(--secondary-bg-color)
    ) fixed;
}