:root {
    --main-bg-color: #465E84;
    --secondary-bg-color: #ADD8E6;
}

.pages {
    max-width: 800px;
    margin: 0 auto 0;

    min-height: 100vh;
    background-image: url(/src/images/background.svg);
}
